@use 'hero';
@use 'variables';
@use 'componentes/infosbar';
@use 'componentes/buttons';
@use 'events';

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    list-style: none;
    color: variables.$textColor;
}

.container {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}